html {
    height: 100%;
    scroll-behavior: smooth !important;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    visibility: hidden;
}
::-webkit-scrollbar-thumb {
    visibility: hidden;
}

/* NAVBAR */

.topnav {
    overflow: hidden;
    width: 100%;
    transition: 0.2s;
    z-index: 1;
}
  
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Source Code Pro', monospace;
    border-radius: 5px;
    transition: 0.2s;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 915px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 915px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.copyright-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: default;
    text-align: right;
}

.copyright-home:hover {
    cursor: default;
}

.copyright {
    bottom: 20px;
    right: 20px;
    cursor: default;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}

.copyright:hover {
    cursor: default;
}

.topnav .name, .topnav .name:hover {
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* CONTENT */
.content {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    bottom: 50px;
    height: calc(100% - 190px);
}

#bottom-content {
    position: absolute;
    bottom: 100px;
    overflow: auto;
    margin-right: 5%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.opinion {
    font-style: italic;
    text-align: center;
}

.lnk {
    font-family: 'Source Code Pro', monospace;
}

.btn_download {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}

.gpu_img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* GALLERY */
div.gallery {
    border-radius: 7px;
}
  
div.gallery img, div.gallery2 img {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.responsiveX {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
    .responsiveX {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsiveX {
      width: 100%;
    }
}
  
.responsive2 {
    padding: 0 6px;
    float: left;
    width: 50%;
}
  
@media only screen and (max-width: 700px) {
    .responsive2 {
      width: 100%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive2 {
      width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}